@charset "UTF-8";


 body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
	  margin:0;
    }
	a{
		text-decoration:none;
	}
	.step-detail {
		margin:auto;
	}
	.picandwords {
		width:755px;
		margin:auto;
	}

    #slides{
      display: none;
      margin-bottom:50px;
	  background:#fff;
    }

    .slidesjs-navigation {
      margin-top:3px;
    }

    .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
	  margin-right:50%;
	  padding-bottom:30px;
    }
	.slidesjs-navigation {
		display:none;
	}

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 15px;
      height: 0;
      padding-top: 14px;
	  margin-left:15px;
      background-image: url(img/feedback-dots.png);
      background-position: 19px 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 49px 0;
    }

    a:link,
    a:visited {
      color: #333
    }

    a:hover,
    a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    #slides {
      display: none;
	  width:924px;
	  margin:auto;
	  -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
	  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
	  -o-box-shadow:0 0px 10px rgba(0,0,0,0.5);
	  box-shadow:0 0px 10px rgba(0,0,0,0.5);
	  position:relative;
	  z-index:1;
    }
	ul, li{
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1024px
      }
    }
	.step-detail h3{
		width:105px;
		margin:auto;
		color:#f26659;
		font-size:30px;
		margin-bottom:40px;
		margin-top:45px;
	}
	#slides-header {
		width:924px;
		margin:auto;
		background:#fffaf1;
		height:115px;
		
		-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	  	-o-box-shadow:0 1px 10px rgba(0,0,0,0.5);
	  	box-shadow:0 1px 10px rgba(0,0,0,0.5);
		position:relative;
		z-index:3;
	}
	#cook-title{
		margin-left:50px;
		float:left;
	}
	#music-player{
		float: right;
		margin-top: 45px;
		margin-right: 50px;
	}
	#cook-title h3{
		color:#f26659;
		font-size:30px;
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		padding-top:20px;
	}
	.step-words {
		margin-top:55px;
		margin-bottom:65px;
		font-size:30px;
		color:#909090;
	}
	header{
		height:65px;
		background:#f26659;
		-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	  	-o-box-shadow:0 2px 2px rgba(0,0,0,0.5);
	  	box-shadow:0 2px 2px rgba(0,0,0,0.5);
		margin-bottom:40px;	
	}
	#header-inner {
		width:924px;
		margin:auto;
	}
	#logo {
		float:left;
	}
	#header-inner ul {
		padding-top:20px;
		list-style:none;
	}
	#header-inner ul li{
		float:left;
		margin-left:35px;
	}
	#header-inner ul li a{
		color:#fff;
		font-size:14px;
		font-weight: 400;
	}
	#cart {
	float: right;
	margin-top: -5px;
	margin-right: 15px;
	}
	
	#container {
		width:924px;
		margin:auto;
	}
	#container #nav-btn {
		
		margin-top:210px;
	
	}
	
	
	a.primary-btn {
		display:block;
		text-align:center;
		vertical-align:middle;
		width:300px;
		height:56px;
		color:#fff;
		font-size:30px;
		text-shadow:1px 1px 3px rgba(0,0,0,0.5);
		padding-top:9px;
		background:#f26659;
		
		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
		-o-border-radius: 5px;
        border-radius: 5px;
		
		-moz-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:0 0px 5px rgba(0,0,0,0.5);
	  	box-shadow:0 0px 5px rgba(0,0,0,0.5);
		
	}
	#container-index{
		width:635px;
		margin:auto;
	}
	.index-btn{
		float:left;
	}
	
	#middle{
		color:#fff;
		clear:both;
	}
	#search {
		clear:both;
		padding-top:35px;
	}
	#search-input {
		width:90%;
		height:65px;
		font-size:30px;
		padding-left:65px;
		
		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
		-o-border-radius: 5px;
        border-radius: 5px;
		
		-moz-box-shadow:inset 0 0px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow:inset 0 0px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:inset 0 0px 5px rgba(0,0,0,0.5);
	  	box-shadow:inset 0 0px 5px rgba(0,0,0,0.5);
	}
	
	footer {
		width:100%;
		position:fixed;
		background:#fff;
		height:65px;
		bottom:0;
	}
	#footer-nav {
		width:924px;
		margin:auto;
		padding-top:20px;
	}
	#footer-nav li{
		float:left;
		margin-left:35px;
	}
	#footer-nav li a{
		font-size:14px;
		color:#b8b8b8;
	}
	
	/*Order now css*/
	#container-inner-order li{
		float:left;
		margin-top:210px;
		margin-left:35px;
	}
	#container-inner-order li .round{
		width:150px;
		height:150px;
		overflow:hidden;
		border: 10px solid #fff;
		
		-webkit-border-radius: 175px;
     	-moz-border-radius: 175px;
		-o-border-radius: 175px;
        border-radius: 175px;
		
		-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	  	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	}
	#container-inner-order li span {
		color:#fff;
		text-shadow:3px 3px 5px rgba(0,0,0,0.5);
		font-size:24px;
	}
	.order-outer{
		text-align:center;
		padding: 5px 10px;
	}
	#container-inner-order li:hover .order-outer {
		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
		-o-border-radius: 5px;
        border-radius: 5px;
		
		-moz-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	  	box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	
	}
	/*Order now css ends*/

	/*Explore*/
	#explore-leftsidebar {
		width:35%;
		float:left;
		background:#fbfcfc;
		
		-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.7);
	    -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.7);
	  	-o-box-shadow:0px 3px 5px rgba(0,0,0,0.7);
	  	box-shadow:0px 3px 5px rgba(0,0,0,0.7);
		
		text-align:center;
		color:#4d3213;
	}
	#explore-header {
		margin-top:30px;
	}
	#explore-header h1 {
		color:#4d3213;
		font-size:46px;
		font-family:Gloucester;
		letter-spacing: -3px;
		font-weight: 500;
	}
	#explore-leftsidebar h3{
	 font-size:18px;
	}
	#explore-cousine-ul li{
		float:left;
		margin-left:35px;
	}
	#explore-cousine-ul li .round{
		width:80px;
		height:80px;
		overflow:hidden;
		border: 5px solid #fff;
		
		-webkit-border-radius: 175px;
     	-moz-border-radius: 175px;
		-o-border-radius: 175px;
        border-radius: 175px;
		
		-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	  	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	}
	#ingredient {
		padding-top: 30px;
		clear: both;
	}
	#ingredient input {
		background:url(../img/search.png) no-repeat;
		background-position:5px 5px;
		padding-left:40px;
		height:35px;
		width:60%;
	}
	#allergies{
		margin-top:30px;
	}
	#allergies-ul li{
		float:left;
		margin-left:30px;
	}
	#container-inner-order li span {
		color:#fff;
		text-shadow:3px 3px 5px rgba(0,0,0,0.5);
		font-size:24px;
	}
	.order-outer{
		text-align:center;
		padding: 5px 10px;
	}
	#container-inner-order li:hover .order-outer {
		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
		-o-border-radius: 5px;
        border-radius: 5px;
		
		-moz-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	  	-o-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	  	box-shadow:inset 1px 1px 5px rgba(0,0,0,0.5);
	
	}
	/*Explore ends*/